<html>
<head>
  <title>User settings for {{username}}</title>
</head>

<body>

{% include "header.html" %}

<h2>User settings for {{username}}</h2>

<form action="/update_settings" method="get">

<p><b>Email address</b> (cannot be changed):
<input type="hidden" name="u" value="{{user.email}}">{{user.email}}
</p>

<p><b>Department:</b>
<input type="textbox" name="category" value="{{user.category}}">
</p>

<p><b>Receive reminder emails?:</b>
<input type="radio" name="reminder_email" value="yes"
       {% if user.wants_email %}checked{% endif %}> yes
<input type="radio" name="reminder_email" value="no"
       {% if not user.wants_email %}checked{% endif %}> no
</p>


<input type="hidden" name="redirect_to" value="{{redirect_to}}">

<input type="submit" value="Save">

</form>

</body>
</html>
