@font-face {
  font-family: 'Gilda Display';
  font-style: normal;
  font-weight: 400;
  src: local('Gilda Display'), local('GildaDisplay-Regular'), url(http://themes.googleusercontent.com/static/fonts/gildadisplay/v1/8yAVUZLLZ3wb7dSsjix0CNlxEeKqwlazdFKolw326gM.woff) format('woff');
}